#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  color: rgb(157, 244, 136);
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
               -2px -2px 4px rgba(0, 0, 0, 0.5),
               2px -2px 4px rgba(0, 0, 0, 0.5),
               -2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  }

.introduction{
  text-align: center;
  font-size: 22px;
  box-sizing: border-box;
  line-height: 1.75em;
  font-weight: 400;
  word-wrap: break-word;
  font-variant-numeric: proportional-nums;
  margin-left: 80px;
  margin-right: 80px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.countryData {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: lightblue;

  padding: 1rem 1rem 1rem 1rem;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
